<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Christmas Scavenger Hunt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"
          media="all"/>
</head>
<body style="background-image: {{ url_for }}">
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8 main">
        I’ll bet you wouldn’t guess<br>
        (and I hope you’re not miffed)<br>
        That we’re going to make you work for your gift
        <br><br>
        A scavenger hunt! We’ve created for you<br>
        A crumb trail of clues<br>
        If only a few<br><br>

        Six clues you will find<br>
        To lead to the prize<br>
        Clue one is ahead<br>
        And should leave you a bind<br><br>

        We’ve left it somewhere<br>
        And hope it hasn’t been chewed<br>
        But we know for a fact<br>
        It smells like a zoo
    </div>
</div>
</div>
</body>
</html>